<div class="quote-section">
  <div class="page-center-big">
    <div class="circled-bg">
      <div class="quotes-container">
        {% for item in module.quote_item %}
          <div class="quote-item quote-item{{ loop.index }}">
            <div class="quote-box">
              {{ item.quote_text }}
            </div> 
            <div class="quote-desc" style="background: {{ item.box_color }};"> 
              <h4>
                {{ item.quote_name }}
              </h4>
              <p>{{ item.role }}</p>
              <p>{{ item.company }}</p>
              {% if item.image_field.src %}
                {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}"' %}
                {% if item.image_field.size_type == 'auto' %}
                  {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                {% elif item.image_field.size_type == 'auto_custom_max' %}
                  {% set sizeAttrs = 'width="{{ item.image_field.max_width|escape_attr }}" height="{{ item.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                 {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading|escape_attr }}"' : '' %}
                <img src="{{ item.image_field.src|escape_url }}" alt="{{ item.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
              {% endif %}
            </div>
          </div><!-- end quote-item -->
        {% endfor %}
      </div><!-- end quotes-container -->
    </div><!-- end circled-bg -->
  </div><!-- end page-center -->
</div><!-- end quote-section -->