header.custom-header{
  display:none;
}
.lp-header {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 60px;
}

a.lp-header-link {
  position: absolute;
  top: 12px;
  left: 50px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
}