<div class="{{name}} hero-wrap">
  <div class="page-center">
    <div class="hero-otr ">   
      <div class="hero-inner"> 
      {% if module.heading %}
        <div class="hero-header">
          <h1>{{ module.heading }}</h1>
        </div> 
      {% endif %}  
      {% if module.content %}
        <div class="hero-txt"> 
          {{ module.content }}
        </div>  
       {% endif %}  
       {% if module.button.text %} 
         <div class="hero-btn {{ module.button.class }}"> 
           {% set href = module.button.link.url.href %}
            {% if module.button.link.url.type is equalto "EMAIL_ADDRESS" %}
              {% set href = "mailto:" + href %}
            {% endif %}
            <a href="{{ href }}"
              {% if module.button.link.open_in_new_tab %}target="_blank"{% endif %}
              {% if module.button.link.rel %}rel="{{ module.button.link.rel }}"{% endif %}
              >
              {{ module.button.text }}
            </a>  
          </div> 
        {% endif %}  
      </div>    
      <div class="hero-embed"> 
         {% if module.embed.source_type == "oembed" %}
          {% set oembedResponse = module.embed.oembed_response  %}
          <div class="oembed_container {% if module.embed.size_type == 'auto_full_width' %} oembed_container--full-size{% endif %}" id="oembed_container-{{name}}">
            <div class="iframe_wrapper"
              data-embed-response-html="{{ oembedResponse.html|escape }}"
              data-embed-response-width="{{ oembedResponse.width }}"
              data-embed-response-height="{{ oembedResponse.height }}"
              data-embed-url="{{ module.embed.oembed_url }}"
              {% unless module.embed.size_type == "auto_full_width" || module.embed.size_type == "exact" %}
              data-max-height="{% if module.embed.size_type == "auto_custom_max" %}{{ module.embed.max_height }}{% endif %}"
              data-max-width="{% if module.embed.size_type == "auto_custom_max" %}{{ module.embed.max_width }}{% endif %}"
              {% endunless %}
              {% if module.embed.size_type == "exact" %}
              data-height="{{ module.embed.height }}"
              data-width="{{ module.embed.width }}"
              {% endif %}
              >
            </div>
          </div>
          {% require_css %}
            <style>
              .oembed_container {
                display: inline-block;
                height: 100%;
                position: relative;
                width: 100%;
              }

              .oembed_container .iframe_wrapper > * {
                height: 100%;
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
              }

              .iframe_wrapper {
                height: 0;
                padding-bottom: 56.25%;
                padding-top: 25px;
                position: relative;
              }
            </style>
          {% end_require_css %}
          {% require_js %}
            <script>
              function loadEmbedField(oembedContainer) {
                const iframeWrapper = oembedContainer.querySelector('.iframe_wrapper');
                if (!iframeWrapper) {
                  return;
                }
                const url = iframeWrapper.dataset.embedUrl;
                if (!url) {
                  return;
                }


                function setIframe(data) {
                  let {
                    maxHeight,
                    maxWidth,
                    height,
                    width,
                  } = iframeWrapper.dataset;
                  maxHeight = maxHeight !== undefined && !maxHeight ? data.height : maxHeight;
                  maxWidth = maxWidth !== undefined && !maxWidth ? data.width : maxWidth;
                  height = height !== undefined && !height ? data.height : height;
                  width = width !== undefined && !width ? data.width : width;

                  const el = document.createElement('div');
                  el.innerHTML = data.html;
                  const iframe = el.firstChild;
                  iframeWrapper.appendChild(iframe);

                  if (maxHeight) {
                    const maxHeightStr = maxHeight.toString(10) + "px";
                    oembedContainer.style.maxHeight = maxHeightStr;
                    iframe.style.maxHeight = maxHeightStr;
                  }

                  if (maxWidth) {
                    const maxWidthStr = maxWidth.toString(10) + "px";
                    oembedContainer.style.maxWidth = maxWidthStr;
                    iframe.style.maxWidth = maxWidthStr;
                  }

                  if (height) {
                    const heightStr = height.toString(10) + "px";
                    oembedContainer.style.height = heightStr;
                    iframe.style.height = heightStr;
                  }

                  if (width) {
                    const widthStr = width.toString(10) + "px";
                    oembedContainer.style.width = widthStr;
                    iframe.style.width = widthStr;
                  }
                }

                const embedResponse = {
                  html: iframeWrapper.dataset.embedResponseHtml,
                  width: iframeWrapper.dataset.embedResponseWidth,
                  height: iframeWrapper.dataset.embedResponseHeight
                };

                if (embedResponse.html) {
                  setIframe(embedResponse);
                  return;
                }

                const request = new XMLHttpRequest();
                const requestUrl = "/_hcms/oembed?url=" + encodeURIComponent(url) + "&autoplay=0";
                request.open('GET', requestUrl, true);
                request.onload = function() {
                  if (request.status >= 200 && request.status < 400) {
                    const data = JSON.parse(request.responseText);
                    setIframe(data);
                  } else {
                    console.error('Server reached, error retrieving results.');
                  }
                };
                request.onerror = function() {
                  console.error('Could not reach the server.');
                };
                request.send();
              }

              document.addEventListener('DOMContentLoaded', function() {
                var oEmbedContainers = document.getElementsByClassName('oembed_container');
                Array.prototype.forEach.call(oEmbedContainers, loadEmbedField)
              });
            </script>
          {% end_require_js %}
        {% else %}
          <div id="embed_container" class="embed_container">
            <div class="iframe_wrapper">
              {{ module.embed.embed_html }}
            </div>
          </div>
          {% require_css %}
            <style>
              .iframe_wrapper {
                height: 0;
                padding-bottom: 56.25%;
                padding-top: 25px;
                position: relative;
              }

              .embed_container {
                display: inline-block;
                height: 100%;
                position: relative;
                width: 100%;
              }

              .embed_container iframe {
                left: 0;
                max-height: 100%;
                max-width: 100%;
                position: absolute;
                right: 0;
                top: 0;
              }
            </style>
          {% end_require_css %}
        {% endif %}
  
      </div> 
    </div> 
	</div>
   
    <div class="hero-img hero-img1"> 
      <img src="https://www.startdeliver.com/hubfs/StartDeliver_2023/Images/Home/shape-1.svg">
    </div>
    <div class="hero-img hero-img2"> 
      <img src="https://www.startdeliver.com/hubfs/StartDeliver_2023/Images/Home/shape-2.svg">
    </div> 
  
</div>

 
{% require_css %}
<style> 
    
  
</style>
{% end_require_css %}

 