<!--
templateType: global_partial
label: Page Header
-->
<header class="custom-header">
  <div class="header">
    <div class="custom-header-logo">
      {% set logo_file =  get_asset_url('../../images/startdeliver-logo-white.png') %}
      {% module "header_logo" path="@hubspot/logo", label="Header Logo", link='/',  label="Header Logo", img={src="{{logo_file}}", width= 242, override_inherited_src= true} %}
      {% set logo_fixed_file =  get_asset_url('../../images/startdeliver-logo.png') %}
      {% module "header_Fixed_logo" class="fixed-logo" path="@hubspot/logo", label="Header Fixed Logo", link='/',  label="Header Fixed Logo", img={src="{{logo_fixed_file}}", width= 242, override_inherited_src= true} %}
    </div>
    <div class="custom-menu-primary">
      {% module "navigation-primary" path="../../modules/menu-section", label="Primary Menu" %}
    </div>
    <div class="toggle-mobile-menu ">
      <a class="" href="#"></a>
    </div>
  </div>
</header>
