<div class="banner-new" style="background-image: url('{{ module.background_image.src }}');">
  <div class="page-center-fluid">
    <div class="row-fluid banner-section1">
      <div class="span9">
        <h1> 
         {{ module.section_1.heading }} 
        </h1>
        <p class="subheading">
          {{ module.section_1.subheading }}
        </p>
        <div class="row">
  <div class="row--col">
     <a title="Startdeliver is a leader in Customer Success on G2" href="https://www.g2.com/products/startdeliver/reviews?utm_source=rewards-badge"><img style="width: 100px;" alt="Startdeliver is a leader in Customer Success on G2" src="https://images.g2crowd.com/uploads/report_medal/image/1003547/medal.svg" /></a>
  </div>
  <div class="row--col">
          <a title="Startdeliver is a leader in Customer Success on G2" href="https://www.g2.com/products/startdeliver/reviews?utm_source=rewards-badge"><img style="width: 100px;" alt="Startdeliver is a leader in Customer Success on G2" src="https://images.g2crowd.com/uploads/report_medal/image/1003603/medal.svg" /></a>
  </div>
  <div class="row--col scale">
          <!-- TrustBox widget - Mini -->
<div class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="620fa2e2b830cb647a32b1fe" data-style-height="150px" data-style-width="100%" data-theme="light">
  <a href="https://www.trustpilot.com/review/startdeliver.com" target="_blank" rel="noopener">Trustpilot</a>
</div>
<!-- End TrustBox widget -->
  </div>
</div>
      </div>
      <div class="span3">
        {% if module.section_1.design_dot_image.src %}
          {% set sizeAttrs = 'width="{{ module.section_1.design_dot_image.width }}" height="{{ module.section_1.design_dot_image.height }}"' %}
          {% if module.section_1.design_dot_image.size_type == 'auto' %}
            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
          {% elif module.section_1.design_dot_image.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.section_1.design_dot_image.max_width }}px; max-height: {{ module.section_1.design_dot_image.max_height }}px"' %}
          {% endif %}
          <img src="{{ module.section_1.design_dot_image.src }}" alt="{{ module.section_1.design_dot_image.alt }}" {{ sizeAttrs }}>
        {% endif %}
      </div>
    </div><!-- end row-fluid -->
    
    <div class="row-fluid banner-section2">
        <div class="span5">
          <h2>
            {{ module.section_2.section_2_title }}
          </h2>
          {% cta guid="{{ module.section_2.cta_field }}" %}
          <div class="cs-dot-img">
            {% if module.section_2.design_dot_image.src %}
              {% set sizeAttrs = 'width="{{ module.section_2.design_dot_image.width }}" height="{{ module.section_2.design_dot_image.height }}"' %}
              {% if module.section_2.design_dot_image.size_type == 'auto' %}
                {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
              {% elif module.section_2.design_dot_image.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.section_2.design_dot_image.max_width }}px; max-height: {{ module.section_2.design_dot_image.max_height }}px"' %}
              {% endif %}
              <img src="{{ module.section_2.design_dot_image.src }}" alt="{{ module.section_2.design_dot_image.alt }}" {{ sizeAttrs }}>
            {% endif %}
          </div>
        </div>
        <div class="span7 s7">
          <div class="s2-img"> 
          {% if module.section_2.image.src %}
            {% set sizeAttrs = 'width="{{ module.section_2.image.width }}" height="{{ module.section_2.image.height }}"' %}
            {% if module.section_2.image.size_type == 'auto' %}
              {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
            {% elif module.section_2.image.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.section_2.image.max_width }}px; max-height: {{ module.section_2.image.max_height }}px"' %}
            {% endif %}
            <img src="{{ module.section_2.image.src }}" alt="{{ module.section_2.image.alt }}" {{ sizeAttrs }}>
          {% endif %}
          </div>  
        </div>
     </div><!-- end row-fluid -->
  </div><!-- end page-center -->
</div><!-- end banner --> 
<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End TrustBox script -->