<div class="customer-data">
  <div class="page-center">
    <div class="row-fluid">
      <div class="span7">
        {% if module.image_field.src %}
          {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
          {% if module.image_field.size_type == 'auto' %}
            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
          {% elif module.image_field.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.image_field.max_width }}px; max-height: {{ module.image_field.max_height }}px"' %}
          {% endif %}
          <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ sizeAttrs }}>
        {% endif %}
      </div>
      <div class="span5">
        <h2>
          {{ module.heading }}
        </h2>
        {% inline_rich_text field="content" value="{{ module.content }}" %}
      </div>
    </div><!-- end row-fluid -->
  </div><!-- end page-center -->
</div><!-- end customer-data -->